openapi: 3.0.0
info:
  title: LogKeeper API
  description: LogKeeper [Home](index.html)
  version: 1.0.0
servers:
  - url: https://api.logkeeper.io/v1
    description:  Main (production) server
  - url: https://staging-api.logkeeper.io/v1
    description:  Internal staging server for testing
paths:
  /users:
    get:
      summary: Returns a list of users.
      description: Optional extended description in CommonMark or HTML.
      responses:
        '200':    # status code
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /user:
    get:
      summary: Returns  user details.
      description: Optional extended description in CommonMark or HTML.
      responses:
        '200':
          description: A JSON object with user details.
          content:
            application/json:
              schema:
                properties:
                  user_id:
                    type: string
                    example: "1C1005F5-6961-41BE-90C1-AF11D621DA4B"
                  username:
                    type: string
                    example: "jessica_smith"
                  role:
                    type: string
                    example: "reader"
                  created:
                    type: string
                    example: "Thu Aug 22 19:55:53 CEST 2024"
        '400':
          description: The specified user ID is invalid (should be uuid).
        '404':
          description: A user  was not found.
        default:
          description: Unexpected error
    post:
      summary:  Add new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                role:
                  type: string
                password:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    example: "1C1005F5-6961-41BE-90C1-AF11D621DA4B"
                  username:
                    type: string
                    example: jessica_smith
        '401':
          description: Authorisation required
    put:
      summary: Update a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    example: "1C1005F5-6961-41BE-90C1-AF11D621DA4B"
        '401':
          description: Authorisation required
    delete:
      summary: Add new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
      responses:
        '201':
          description: Created
        '401':
          description: Authorisation required