/* Content Alignment */
.main-content {
    width: 100%; /* Full width of the viewport */
    padding: 2rem 0; /* Vertical padding for spacing */
    max-width: 1200px; /* Set a maximum width for large screens */
    margin: 0 auto; /* Center the container horizontally */
    text-align: center; /* Center-align text horizontally */
    box-sizing: border-box; /* Incl/* Include padding in width cal */
}

.main-content-plans {
    width: 100%; /* Full width of the viewport */
    padding: 2rem 0; /* Vertical padding for spacing */
    max-width: 1400px; /* Set a maximum width for large screens */
    margin: 0 auto; /* Center the container horizontally */
    text-align: center; /* Center-align text horizontally */
    box-sizing: border-box; /* Incl/* Include padding in width cal */
}

/* Feature Sections */
.feature, .feature-dark {
    width: 100vw; /* Full viewport width */
    margin-left: calc(-100vw / 2 + 50%); /* Center the section horizontally */
    padding: 2rem 0; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding in width calculation */
}


.feature {
    background-color: #ffffff; /* White background for default feature section */
}

.feature-dark {
    background-color: #003366; /* Dark blue background */
    color: #ffffff; /* White text for dark background */
}

.feature h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.feature p {
    margin-bottom: 2rem;
    color: #666;
}


.feature-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.feature-buttons .button {
    width: 100px;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    color: #000000; /* Black text */
    background-color: #fff; /* White background */
    border: 2px solid #011e3b;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.feature-buttons .button:hover {
    background-color: #000000; /* Black background on hover */
    color: #fff; /* White text on hover */
}

.feature-buttons .button.selected {
    background-color: #000000; /* Black background for selected button */
    color: #fff; /* White text for selected button */
    border: 2px solid #000000; /* Black border for selected button */
}

/* Feature Image */
.feature-image {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.logo-grid {
    display: grid;
    grid-template-columns: repeat(6, 128px); /* 5 columns by default, each 128px wide */
    gap: 1rem; /* Space between logos */
    justify-content: center; /* Center grid within container */
    margin: 0 auto;
}

.logo-item {
    width: 128px; /* Fixed width for logo container */
    height: 128px; /* Fixed height for logo container */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensure logos don’t overflow */
}

.logo-item img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio while fitting within the container */
}

integration-logos-wrapper {
    width: 100%;
    overflow: hidden; /* Hide overflow to create the moving effect */
    position: relative;
}

.integration-logos {
    display: flex;
    justify-content: space-between;
    animation: moveLogos 120s linear infinite; /* Animate the logos */
}

.integration-logo {
    flex: 0 0 auto;
    width: 150px; /* Fixed width for each logo */
    height: auto; /* Maintain aspect ratio */
    padding: 10px;
}

.integration-logo img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Fit image within the container */
}

@keyframes moveLogos {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}