---
import Layout from '../layouts/Layout.astro'
import { Navbar } from '../components/Navbar.jsx'
import { Article } from '../components/Article.jsx'
import { Footer } from '../components/Footer.jsx'
import blog1 from '../assets/images/blog1.jpg'
import '../styles/Theme.css'
import { ScrollUpButton } from '../components/ScrollUpButton'

const articleData = {
    title: "About Us",
    subtitle: "Redefining Log Management for the Modern Era",
    //date: "June 5, 2024",
    image: blog1.src,
    content: `
    <div class="text-white text-2xl mb-4">Our Mission</div>
    <p>At LogKeeper we are dedicated to revolutionizing the way organizations manage and analyze logs. As a cutting-edge SaaS solution provider, we specialize in delivering a powerful, efficient, and user-friendly logging platform that meets the evolving needs of modern businesses.</p><br/>
    <div class="text-white text-2xl mb-4"> Our Expertise </div>
    <p>Our team, composed of industry veterans with extensive experience in both SaaS-based and on-premises log management systems, has a deep understanding of the challenges faced by engineers and IT professionals.</p><br/>
    <div class="text-white text-2xl mb-4"> The Problem </div>
    <p>Our journey began with a shared frustration: the existing log management solutions, whether SaaS-based like Datadog, Logz.io, Scalyr or on-premises stacks such as Prometheus and Kibana, often fell short of expectations. These systems, while popular, had limitations in scalability, performance, ease of use, or flexibility, which led to inefficiencies and headaches for those relying on them.</p><br/>
    <div class="text-white text-2xl mb-4"> Our Solution </div>
    <p>Driven by our collective expertise and the desire to create something better, we set out to build a new log management solution from the ground up. Our goal was simple yet ambitious: to address the pain points we've encountered with other systems and deliver a solution that not only meets but exceeds the needs of modern engineering teams.</p><br/>
    <div class="text-white text-2xl mb-4"> Designed for Engineers, by Engineers </div>
    <p>With LogKeeper, you get a log management platform designed by engineers, for engineers. We understand the critical importance of real-time monitoring, seamless integration, and actionable insights, and we’ve built our system to excel in all these areas. Our platform is intuitive, scalable, and adaptable, ensuring that you can trust it to handle your logs efficiently, no matter the size or complexity of your environment.</p><br/>
    <div class="text-white text-2xl mb-4"> Join Us on the Journey </div>
    <p>We are proud of the solution we’ve developed and confident that it will empower your team to work more effectively and efficiently. Join us on this journey to redefine log management and experience the difference that comes from a solution built with firsthand knowledge and a passion for excellence.</p><br/>
  `,
    footer: "~ LogKeeper Team"
}
---

<Layout title={articleData.title}>
    <Navbar client:load />
    <Article articleData={articleData} />
    <Footer />
    <ScrollUpButton client:load />
</Layout>
